/* Variables */
/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}

section {
  padding: 96px 0;
}

.title {
  font-family: "Pacifico", cursive;
}

.navigation {
  background-image: url(https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  padding: 12px 0;
  position: relative;
  min-height: 500px;
}

.navigation a {
  text-decoration: none;
  color: black;
}

.navigation ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navigation ul li {
  display: inline-block;
  position: relative;
  width: 100px;
}

.navigation ul li a {
  display: block;
  text-align: center;
}

.navigation-inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
}

.splash-inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: auto;
}

.btn {
  display: inline-block;
  min-width: 160px;
  margin: 24px auto 0 auto;
  padding: 16px;
  border-radius: 5px;
  font-family: "Lobster", cursive;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  background-position: 100% 0;
  background-size: 300%;
  transition: all 1s;
}

.btn:hover {
  background-position: 0 100%;
  color: #ffffff;
}

.btn-one {
  border-color: black;
  color: #8e44ad;
  background-image: linear-gradient(90deg, white 50%, transparent 50%);
}

.btn-one:hover {
  color: #6c5ce7;
}

.page-title {
  font-size: 20px;
}

.page-subtitle {
  font-size: 60px;
  text-transform: uppercase;
  font-family: "Prompt", sans-serif;
}

.services {
  text-align: center;
}

.services i {
  border: 3px solid yellow;
  font-size: 40px;
  border-radius: 50%;
  padding: 8px;
  color: yellow;
}

.section-title {
  font-size: 30px;
  text-transform: uppercase;
}

.section-description {
  padding-bottom: 50px;
}

.portfolio {
  text-align: center;
}

.section-image img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  max-width: 100%;
}

.section-image {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
}

.section-image::after {
  content: '';
  position: absolute;
  top: 20px;
  background-color: transparent;
  opacity: 0.3;
  left: 20px;
  width: 100%;
  height: 100%;
  transition: 1s;
}

.section-image:hover::after {
  top: 0;
  left: 0;
  background-color: white;
}

.image-description {
  padding: 36px 0 36px 55%;
  text-align: center;
}

footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  background: white;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
  padding: 20px;
}

footer .links {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
}

footer a {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  margin: 5px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: black;
  text-decoration: none;
}

footer a i {
  font-size: 20px;
  color: white;
}

footer p {
  margin-right: 40px;
}

.portfolio {
  background: #F7D1B0;
}
/*# sourceMappingURL=style.css.map */